<div class="container">
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div class="alert alert-success alert-dismissable" *ngIf="msg">
                <a href="#" class="close" (click)="closeMsg()">&times;</a>
                {{msg}}
            </div>
        </div>
    </div>
    <h1>{{title}}</h1>
    <form>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="model.name">
        </div>
        <div class="form-group">
            <label for="position">Position:</label>
            <input type="text" class="form-control" id="position" [(ngModel)]="model.position">
        </div>
         <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="position" [(ngModel)]="model.email">
        </div>
        <button type="submit" ng-show="false"  #btnaddemployee  class="btn btn-success" (click)="addEmployee()">Save</button>
        <button type="submit" #btnupdateemployee hidden class="btn btn-default" (click)="updateEmployee()">Update</button>
    </form>
</div>

<div class="container">
    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees;let i = index;">
        <td> {{employee.name}}  </td>
        <td> {{employee.position}}</td>
        <td> {{employee.email}}</td>
        <td>
            <a class="btn btn-success" (click)="editEmployee(i); btnVisble = !btnVisble">Edit</a>
            <a class="btn btn-danger" (click)="deleteEmployee(i,employee.id)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>





